body {
    font-family: 'Playfair Display', serif;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color:
}

.samenvatting {
    font-family: italic;
}

section {
    border-top: 1px solid black;
    margin: 5px;
    padding: 5px;
}

img {
    width: 100%;
    padding-bottom: 10px;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    background-color: white;
}

footer {
    border-top: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.index a {
    font-weight: 800;
}

nav {
    background-color: #E4002B
}

.headerimg {
    width: 150px;
    padding-top: 50px;
    padding-bottom: 40px;
}

a {
    color: red;
}
